.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #b8806a;
  border: 1px solid #b8806a;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
  
}

.form button:hover,
.form button:active {
  background-color: #f0a2c5;
  border-color: #fff;
}